/* Hämtar in ett typsnitt från Google Fonts */ 

@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

/* Bakgrundsfärg */ 

body {
    background-color: rgb(124, 201, 229);
}

/* Typsnitt för divtaggarna */

div {
    font-family: 'Architects Daughter';
    position: absolute;
    left: 750px;
}

/* Positionering och utseende för frågorna och svaren */ 

#fraga {
    position: absolute;
    top: 30;
    font-size: 20px;
}

#svar1 {
    position: absolute;
    top: 90;
    color: #1919d1;
}

#svar2 {
    position: absolute;
    top: 140;
    color: #c14a4a;
}

#svar3 {
    position: absolute;
    top: 190;
    color: #2aa72a;
}

/* Positionering och utseende för poängen */
#pointsRight {
    
    position: absolute;
    top: 350;
    left: 1000px;
    color: black;
    font-size: 30px;
}

#pointsWrong {
    
    position: absolute;
    top: 400;
    left: 1000px;
    color: black;
    font-size: 30px;
}

























